{% extends 'base.html' %}

{% block content %}

    <p><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.update_at|date:"Y-M" }}</p>

    {% if request.user.id == post.user.id %}
        <div>
        <a href = "{% url 'home:post_delete' post.id %}" class="btn btn-warning"  class="col-md-6">Delete</a>
        <a href = "{% url 'home:post_update' post.id %}" class="btn btn-info"  class="col-md-6">update</a>
{#        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>#}
        </div>
    {% endif %}



{#    <p>{{ post.user.username }} - {{ post.update_at|date:"Y-M" }}</p>#}
{#    <p>{{ post.body }}</p>#}
{% endblock %} 
