{% extends 'base.html' %}

{% block content %}

    <p><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.update_at|date:"Y-M" }}</p>

    {% if request.user.id == post.user.id %}
        <div>
        <a href = "{% url 'home:post_delete' post.id %}" class="btn btn-warning"  class="col-md-6">Delete</a>
        <a href = "{% url 'home:post_update' post.id %}" class="btn btn-info"  class="col-md-6">update</a>
{#        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>#}
        </div>
    {% endif %}

    <p><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.updated|date:"Y-M" }}</p>
    <p>{{ post.body }}</p><hr/>

    {% if request.user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send">
        </form><br/>
    {% else %}
        <p class="alert alert-danger">Only logged in users can comment.</p>
    {% endif %}


    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user }} | {{ comment.created|timesince }}</p>
            <p class="card-body">{{ comment.body }}</p>

            {% if request.user.is_authenticated %}
                <form action="{% url 'home:add_reply' post.id comment.id %}" method="post" style="display:none;">
                    {% csrf_token %}
                    {{ reply_form.as_p }}
                    <input type="submit" value="send">
                </form>
            {% endif %}

            {% with replies=comment.rcomments.all %}
                {% for reply in replies %}
                    <p class="bg-primary p-3 m-2">{{ reply.user }} <br/> {{ reply.body }}</p>
                {% endfor %}
            {% endwith %}
        </div><br/>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}

{#    <p>{{ post.user.username }} - {{ post.update_at|date:"Y-M" }}</p>#}
{% endblock %}
